<clr-wizard #wizard [clrWizardOpen]="true">
  <clr-wizard-title>{{ product ? 'Edit Product' : 'AddProduct'}}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (click)="handleCancel()">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="handleFinish()">Finish</clr-wizard-button>

  <clr-wizard-page>
      <ng-template clrPageTitle>Select Category</ng-template>
      <ng-template clrPageNavTitle>Step 1</ng-template>
      <div class="clr-row category">
        <div class="clr-col-md-6" *ngFor="let category of categories">
          <a href="javascript:void(0)" class="card clickable"
          (click)="selectCategory(category.idCategory)" [ngClass]="{'active': category.idCategory == idCategory}">
            <div class="card-block">
              <p class="card-text">
                {{ category.name}}
                <clr-icon [attr.shape]="category.icon"></clr-icon>
              </p>
            </div>
          </a>
        </div>
      </div >
  </clr-wizard-page>

 <form [formGroup]= "productForm">
    <clr-wizard-page>
      <ng-template clrPageTitle>Product Infos</ng-template>
      <ng-template clrPageNavTitle>Step 2</ng-template>
      <div formGroupName="productInfos">
        <clr-input-container>
          <label for="name">Product Name</label>
          <input id="name" clrInput placeholder="product name ..." name="name" formControlName="name" />
        </clr-input-container>

        <clr-textarea-container>
          <label>Description</label>
          <textarea clrTextarea formControlName="description" name="description"></textarea>
        </clr-textarea-container>

        <clr-input-container>
          <label for="price">Price</label>
          <input id="price" clrInput placeholder="price ..." name="price" formControlName="price" />
        </clr-input-container>

        <clr-input-container>
          <label for="stock">Stock</label>
          <input id="stock" clrInput placeholder="stock ..." name="stock" formControlName="stock" />
        </clr-input-container>

      </div>

      <ng-template clrPageButtons>
        <clr-wizard-button [type]="'cancel'" (click)="handleCancel()">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'" [clrWizardButtonDisabled]="isProductInfosInvalid">Next</clr-wizard-button>
      </ng-template>

    </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Illustration</ng-template>
      <ng-template clrPageNavTitle>Step 3</ng-template>
      <div formGroupName="illustration">
        <clr-input-container>
          <label for="image">Product image</label>
          <input id="image" (change)="detecteFiles($event)" accept="image/*" clrInput type="file" name="image" formControlName="image" />
        </clr-input-container>
      </div>

      <ng-template clrPageButtons>
        <clr-wizard-button [type]="'cancel'" (click)="handleCancel()">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'Finish'"  (click)="handleFinish()" [clrWizardButtonDisabled]="isIllustrationInvalid">Finish</clr-wizard-button>
      </ng-template>
  </clr-wizard-page>
 </form>
</clr-wizard>
