<clr-main-container  >
  <div> 
    <clr-header class="header header-4" >
      <div class="branding ">
          <img shape="vm-bug" height="40"  src="assets/img/HM-LOGO.png" alt="logo">
          <span class="title">  &nbsp; Hyundai Mahdia</span>
      </div>
    </clr-header>
    <div class="content-container">
      <main class="content-area">
       
<h1 >Liste de Produits</h1>
<div class="btn-group btn-primary">
  <button class="btn"(click)="addProduct()" >Ajouter un Produit</button> 
</div>
<!-- Modal Add or Edit-->
<app-add-or-edit-product-modal
    *ngIf="productModalOpen"
    [product] = "selectedProduct"
    (finish)="handleFinish($event)"
    ></app-add-or-edit-product-modal>
<!-- End Modal Add or Edit-->

<!-- Modal Delete-->
<app-delete-product-modal
  *ngIf="delete"
  [product]="productToBeDelete"
  (cancel) = "handleCancelDelete()"
  (confirm) = "handleConfirmDelete()"
></app-delete-product-modal>
<!-- End Modal Delete-->

<clr-datagrid >
  <clr-dg-column [style.width.px]="10"> ID</clr-dg-column>
  <clr-dg-column [style.width.px]="100">Nom</clr-dg-column>
  <clr-dg-column [style.width.px]="400" >Description</clr-dg-column>
  <clr-dg-column [style.width.px]="10">Prix</clr-dg-column>
  <clr-dg-column [style.width.px]="10">Stock</clr-dg-column>
  <clr-dg-column [style.width.px]="10">Categorie</clr-dg-column>
  <clr-dg-column [style.width.px]="100">Image</clr-dg-column>
  <clr-dg-column [style.width.px]="100">Action</clr-dg-column>


  <clr-dg-row *clrDgItems="let product of products">


    <clr-dg-cell>{{product.idProduct}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.description}}</clr-dg-cell>
    <clr-dg-cell>{{product.price}}dt</clr-dg-cell>
    <clr-dg-cell>{{product.stock}} In stock</clr-dg-cell>
    <clr-dg-cell>{{product.idCategory}}</clr-dg-cell>
    <clr-dg-cell> <img width="50" [src]="baseUrlImage+product.image" alt="" /></clr-dg-cell>
    <!--   Actions -->
     <clr-dg-cell>
        <div class="btn-group btn-primary">
           <button class="btn"(click)="onEdit(product)" >Modifier</button> &nbsp;&nbsp;
           <button class="btn btn-danger"(click)="onDelete(product)">Supprimer</button>
        </div>
    </clr-dg-cell>
    <!--End Actions-->
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Products per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} products
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
      </main>
      <nav class="sidenav" [clr-nav-level]="2" >
        <section class="sidenav-content">
          
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <b> <i class="fas fa-tachometer-alt"></i>
            Dashboard</b>
          </a>
          <a routerLink="/showusers" routerLinkActive="active" class="nav-link">
           <b> <i class="fas fa-users"></i>
            Utilisateurs</b>
          </a>
           <a  shape="shopping-cart" routerLink="/showproducts" routerLinkActive="active" class="nav-link">
            <b><i class="fas fa-store-alt"></i>
            Produits</b>
          </a>
          <a routerLink="/showcategorys" routerLinkActive="active"  class="nav-link">
            <b> <i class="fas fa-tags"></i>
             Categories</b>
           </a>
          <a routerLink="/showorders" routerLinkActive="active"  class="nav-link">
           <b> <i class="fas fa-shopping-cart"></i>
            Commandes</b>
          </a>
          <a routerLink="/showtestdrives" routerLinkActive="active" class="nav-link">
           <b> <i class="fas fa-tools"></i>
            Test Drive</b>
           </a>
           <hr>
           <a class="dropdown open right-bottom" (click)="logout()" routerLinkActive="active" class="nav-link">
            <b> <i class="fas fa-sign-out-alt"></i>
             Deconnexion</b>
            </a>
        </section>
      </nav>
    </div>
  </div>
  </clr-main-container>
  